<div class='mt-4'>
    <h2>Sửa sản phẩm</h2>
    <form method='POST' action='/product/{{product._id}}?_method=PUT'>
        <div class='form-group'>
            <label for='name'>Tên sản phẩm</label>
            <input type='text' class='form-control' id='name' name='name' value='{{product.name}}' />
        </div>
        <div class='form-group'>
            <label for='name'>Loại sản phẩm</label>
            <div class='input-group mb-3'>
                <div class='input-group-prepend'>
                    <label class='input-group-text' for='inputGroupSelect01'>Options</label>
                </div>
                <select
                    class='custom-select'
                    id='productCategory'
                    name='productCategory'
                    value='{{product.productCategory}}'
                >
                    <option value='Nam'>{{product.productCategory}}</option>
                    <option value='Nữ'>{{product.productCategory}}</option>
                    <option value='Trẻ em'>{{product.productCategory}}</option>
                </select>
            </div>
        </div>

        <div class='form-group'>
            <label for='price'>Giá sản phẩm</label>
            <input type='text' class='form-control' id='price' name='price' value='{{product.price}}' />
        </div>
        <div class='form-group'>
            <label for='introduce'>Giới thiệu</label>
            <textarea class='form-control' id='introduce' name='introduce'>{{product.introduce}}</textarea>
        </div>
        <div class='form-group'>
            <label for='detail'>Chi tiết</label>
            <textarea class='form-control' id='detail' name='detail'>{{product.detail}}</textarea>
        </div>
        <div class='form-group'>
            <label for='preserve'>Bảo quản</label>
            <textarea class='form-control' id='preserve' name='preserve'>{{product.preserve}}</textarea>
        </div>

        <div class='form-group'>
            <label for='image'>Hình ảnh</label>
            <input type='text' class='form-control' id='image' name='image' value='{{product.image}}' />
        </div>
        <button type='submit' class='btn btn-primary'>Sửa</button>
    </form>
</div>