<table class='table'>
    <thead>
        <tr>
            <th scope='col'>stt</th>
            <th scope='col'>Danh mục</th>
            <th scope='col'>Hình ảnh</th>
            <th scope='col'>Tùy chọn</th>
        </tr>
    </thead>
    <tbody>
        {{#each categories}}
            <tr>
                <th scope='row'>{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>
                    <img src='{{this.image}}' alt='Hình ảnh' style='width: 100px; height: auto;' />
                </td>
                <td>
                    <a href='/category/{{this._id}}/editCategory' style='color: inherit; text-decoration: none;'>
                        <button type='button' class='btn btn-primary'>Sửa</button>
                    </a>
                    <a data-toggle='modal' data-id='{{this._id}}' data-target='#delete-category-modal'>
                        <button type='button' class='btn btn-danger'>Xóa</button>
                    </a>
                </td>
            </tr>
        {{/each}}
    </tbody>
</table>

{{! DELETE FORM HIDDEN CATEGORY }}
<form method='POST' name='delete-category-form'></form>

{{! DELETE CATEGORY }}
<div id='delete-category-modal' class='modal' tabindex='-1'>
    <div class='modal-dialog'>
        <div class='modal-content'>
            <div class='modal-header'>
                <h5 class='modal-title'>Xóa loại danh mục</h5>
                <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
                    <span aria-hidden='true'>&times;</span>
                </button>
            </div>
            <div class='modal-body'>
                <p>Bạn chắc chắn muốn xóa?</p>
            </div>
            <div class='modal-footer'>
                <button id='btn-delete-category' type='button' class='btn btn-danger'>Xóa bỏ</button>
                <button type='button' class='btn btn-secondary' data-dismiss='modal'>Hủy</button>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() { var categoryId; var deleteForm =
    document.forms['delete-category-form']; var btnDeleteCategory = document.getElementById('btn-delete-category');
    $('#delete-category-modal').on('show.bs.modal', function (event) { var button = $(event.relatedTarget); categoryId =
    button.data('id'); }); btnDeleteCategory.onclick = function () { deleteForm.action = '/category/' + categoryId +
    '?_method=DELETE'; deleteForm.submit(); } });
</script>